<%- include('./layout/header.ejs') %>

<h1 class="display-4 p-5 text-center">Description Of the Campground..</h1>
<h4><%= campDescription.name %></h4>
<p><%= campDescription.description %></p>

<% campDescription.comments.forEach( function(comment) { %>
  <p><strong><%= comment.author %></strong> - <%= comment.text %></p> 
<% }) %>

<%- include('./layout/footer.ejs') %>