<%- include('../layout/header.ejs') %>
<div class="container">
  <header class="jumbotron">
    <div class="container">
      <h1 class="display-4">Welcome to YelpCamp!</h1>
      <p>View and experience our hand-picked campgrounds from all over the world.</p>
      <p>
        <a href="/campgrounds/new" class="btn btn-primary btn-large">Add New Campground</a>
      </p>
    </div>
  </header>
  <div class="row">
    <% results.forEach(function(result) { %>
    <div class="col-md-3 col-sm-6 p-5" style="display: flex; flex-wrap: wrap;">
      <div class="img-thumbnail">
        <img src="<%= result.image %>" width="100%">
        <div class="caption text-center"> 
          <h4><%= result.name %></h4> 
        </div>
        <p>
          <a href="/campgrounds/<%= result._id %>" class="btn btn-warning">More Information</a>
        </p>
      </div>
    </div>
    <% }); %>
  </div>
</div>



<%- include('../layout/footer.ejs') %>